@model Trabalho_02_Auth.Models.Produto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <div class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusProduto)
        </dd>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <button class="btn btn-danger btn-icon-split" type="submit">
                <span class="icon text-white">
                    <i class="fas fa-trash-alt"></i>
                </span>
                <span class="text">Delete</span>
            </button>
            <a class="btn btn-primary btn-icon-split" href="~/Produto/Index">
                <span class="icon text-white">
                    <i class="fas fa-arrow-circle-left"></i>
                </span>
                <span class="text text-white">Voltar</span>
            </a>
        </div>
    }

</div>

